* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header Css*/
a {
  text-decoration: none;
  color: #ffffec;
}
body {
  background-color: #42616f;
}

.search {
  height: 2rem;
  width: 19rem;
  background-color: #19313e;
  border-radius: 6px;
  border: 1px solid#19313E;
  color: #ffffec;
  font-size: 18px;
  display: flex;
}
input {
  height: 1.7rem;
  width: 17rem;
  border: none;
  outline: none;
  color: #ffffec;
  background-color: #19313e;
  font-size: 18px;
  padding-left: 10px;
}

.search-icon {
  height: 1.5rem;
  padding: 2px 0;
  color: #ffffec;
  cursor: pointer;
}

.search-icon:hover {
  opacity: 0.8;
}
.container {
  color: #ffffec;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container li:hover {
  opacity: 0.9;
}
.brand {
  font-size: 2rem;
  border: none;
}
.hdr-ust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #1d3a48;
  padding: 0 6rem;
}
.hdr-ust ul {
  display: flex;
}

.hdr-ust li {
  list-style-type: none;
  padding-left: 2rem;
}

.hdr-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #264858;
  height: 50px;
  padding: 0 6rem;
}

.hdr-alt ul {
  display: flex;
}

.hdr-alt li {
  list-style-type: none;
  padding-right: 2rem;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: red !important;
  }
}

.bestmovie-list,
.besttv-list,
.watchlist-list,
.watched-list,
.populartv-list,
.popularmovie-list {
  background-color: #ffffec;
  margin: 45px;
}
.bestmovie-list li,
.besttv-list li,
.watchlist-list li,
.watched-list li,
.populartv-list li,
.popularmovie-list li {
  list-style-type: none;
}

.bestmovie-list ul,
.besttv-list ul,
.populartv-list ul,
.popularmovie-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.watched-list ul,
.watchlist-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bestmovie-box,
.besttv-box,
.populartv-box,
.popularmovie-box {
  width: 300px;
  height: auto;
  margin: 30px 40px;
}

.watchlist-box,
.watched-box {
  width: 250px;
  height: auto;
  margin: 20px 20px;
}
.cart-pp,
.watchlist-pp,
.watched-pp {
  visibility: hidden;
}

.cart-image {
  width: 300px;
  height: 460px;
  border-radius: 8px;
  cursor: pointer;
}
.watched-image,
.watchlist-image {
  width: 250px;
  height: 370px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-info {
  color: #ffffec;
  background-color: #19313e;
  width: 300px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

.cart-button button:hover,
.watched-button button:hover,
.watchlist-button button:hover {
  opacity: 0.8;
}

.cart-button {
  display: flex;
  margin-top: 5px;
}

.cart-button button {
  width: 50%;
  color: #ffffec;
  background-color: #19313e;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
}

.watchlist-title,
.watched-title {
  padding: 1rem 3.1rem 0rem 3.1rem;
  color: #19313e;
  font-size: 25px;
}

.watchlist-button,
.watched-button {
  display: flex;
  justify-content: space-between;
}
.watched-button button,
.watchlist-button button {
  height: 40px;
  width: 48%;
  background-color: #19313e;
  color: #ffffec;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}
